@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap");
@import "normalize";
@import "layout";
@import "elements";

$primary-color: #6e774a;
$white: #ffffff;
$base-font-family: "Oswald", sans-serif;

h1 {
}

body {
  font: 400 18px/1.3 $base-font-family;
  color: $primary-color;
  background: #f7f8f3;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1211px;
  width: 100%;
}
.ba-intro {
  position: relative;
  background: url(/img/bg-into-inner.jpeg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 93px;

  &__title {
    color: #f7f8f3;
    font-size: 55px;
    letter-spacing: 12px;
    margin-bottom: 39px;
  }

  &__subtitle {
    margin-bottom: 17px;
    font-size: 24px;
    color: #f7f8f3;
  }

  &__shopping {
    margin-bottom: 45px;
    font-size: 20px;
    color: $white;
    &::before {
      content: "";
    }
  }

  &__products {
    color: #f7f8f3;
  }
  &__inner {
    max-width: 632px;
    padding-top: 393px;
    margin-left: auto;
  }

  &__tagline {
    position: absolute;
    top: 0;
  }
}
.ba-header {
  //   box-shadow: 20px rgba(1, 24, 63, 1) inset;
  z-index: 1;
  position: absolute;
  padding: 36px 0 26px 60px;
  border-bottom: 1px solid $white;

  width: 100%;
  top: 0;
  left: 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}
.ba-menu {
  font-size: 16px;
}
.ba-logo {
  color: $white;
  font-size: 30px;
}
.ba-nav {
  &__list {
    max-width: 366px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: $white;
  }
}
.ba-about {
  margin-bottom: 150px;
  &__header{
	text-align: center;
	margin-bottom: 130px;
	  &--title{
		
	  }
  }
  &__list {
    min-width: 838px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ced6af;
    margin-bottom: 80px;
  }
  & a {
    color: #1c1c1b;
    //  border-bottom: 2px solid #1c1c1b;
    //    padding-bottom: 20px;
  }

  &__product {
    &--description {
      display: flex;
      justify-content: space-between;
    }
    &--text {
      max-width: 407px;
      & p {
        line-height: 2.2;
        margin-bottom: 60px;
      }
    }
    &--title {
      max-width: 269px;
      color: #000000;
      margin-bottom: 50px;
      padding-top: 45px;
      font-size: 24px;
    }
    &--galery {
      max-width: 570px;
    }
  }
}
.ba-products {
	margin-bottom: 149px;
  &__rating {
    margin-bottom: 21px;
  }
  &__title {
    text-align: center;
    color: #1c1c1b;
    margin-bottom: 100px;
  }
  &__item {
    text-align: center;
    &--title {
      margin-bottom: 35px;
      color: #1c1c1b;
	 }
	 &--shop{
		 background:$primary-color;
		 color:$white;
		 font-size: 20px;
		 padding: 35px 105px 35px 30px;
	 }
	 &--price{
		 padding-left: 35px;
		 text-align: center;
	 }
    &--footer {
      display: flex;
		justify-content: space-between;
		// padding: 35px 0 35px 30px;
    }
  }
}
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
 }
 
 /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .active, .accordion:hover {
	background-color: #ccc;
 }
 
 /* Style the accordion panel. Note: hidden by default */
 .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
 }
.ba-testimonials{
	background:url(/img/bg-testimonials.jpeg)
}
.ba-faq{
	text-align: center;
	&__title{
		color:#1C1C1B;
		font-size:30px ;
	}
}